/* ALL CODE IS WRITTEN BY WALTER VETRIVEL SELVAKUMAR */
/* GENERAL STYLES FOR ALL PAGES */
/* 
	COLOR PALETTE:
	#8fb9a8
	#fefad4
	#fcd0ba
	#f1828d
	#765d69
*/

/* GLOBAL RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #fefad4;
}

::-webkit-scrollbar-thumb {
	background: #765d69;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	filter: brightness(1.1);
}

/* BODY FONT */
body {
	font-family: 'Roboto', sans-serif;
	color: #765d69;
	line-height: 1.55;
}

/* NAVIGATION */
.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1rem;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 2px solid #85b9a8;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
	flex-wrap: wrap;
	z-index: 999;
}

.nav-brand {
	padding: 0.5rem;
	text-decoration: none;
	color: #8fb9a8;
	text-transform: uppercase;
	font-weight: 700;
}

.nav-items {
	display: none;
	flex-wrap: wrap;
	list-style: none;
	position: relative;
	width: 100%;
}

.nav-item {
	padding: 0.5rem;
	width: 100%;
}

.nav-toggle {
	position: absolute;
	right: 2rem;
	border: 0;
	outline: none;
	padding: 0.5rem;
	background-color: transparent;
	font-size: 1.25rem;
	color: #85b9a8;
	cursor: pointer;
	display: block;
}

.show-nav {
	height: auto;
	display: flex;
}

.nav-link {
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: #765d69;
}

.nav-link::after {
	content: '';
	display: block;
	height: 3px;
	background-color: #f1828d;
	width: 0%;
	transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
	color: #85b9a8;
	font-weight: 700;
}

.nav-link:hover::after,
.nav-link.active::after {
	width: 100%;
}

.nav-brand .fas {
	margin-right: 0.5rem;
}

.dropdown-toggle {
	cursor: pointer;
}

.nav-dropdown {
	position: absolute;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
	width: 100%;
	display: none;
}

.dropdown-items {
	list-style: none;
}

.dropdown-link {
	padding: 0.5rem;
	display: block;
}

.show-dropdown {
	display: block;
}

/* HEADER */
.header {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 6rem;
}

.page-heading {
	font-size: 2.2rem;
	font-family: 'Roboto Slab', sans-serif;
	text-align: center;
	margin: 2rem 0;
	text-transform: uppercase;
	color: #fefad4;
}

/* SECTION */
.section {
	padding: 2rem 3rem;
}

.section-heading {
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Roboto Slab', sans-serif;
	color: #8fb9a8;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-heading::before,
.section-heading::after {
	content: '';
	display: block;
	height: 2px;
	width: 50%;
	background-color: #85b9a8;
}

/* GENERAL TEXT */
.paragraph {
	margin-bottom: 1rem;
}

.verse {
	font-weight: 700;
	font-style: italic;
	margin-bottom: 1rem;
}

.page-link {
	text-decoration: none;
	color: #f1828d;
}

.side-heading {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.05rem;
	margin-bottom: 0.5rem;
}

/* FOOTER */
.footer {
	background-color: #765d69;
	padding: 2rem;
}

.footer .side-heading {
	font-family: 'Roboto Slab', sans-serif;
	color: #fcd0ba;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #fefad4;
}

.site-map,
.external-resources {
	width: 100%;
}

.site-map {
	margin-bottom: 1rem;
}

.site-map ul {
	margin-left: 1rem;
	list-style: none;
	color: #fefad4;
}

.footer-link {
	color: #fefad4;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 0.25rem;
	transition: all 0.3s ease-in-out;
}

.footer-link i {
	color: inherit;
	margin-right: 0.25rem;
}

.footer-link:hover {
	color: #fcd0ba;
}

.footer-copyright {
	padding: 0 2rem;
	color: #fcd0ba;
	text-align: center;
}

.copyright-link {
	text-decoration: none;
	color: #f1828d;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
}

.copyright-link:hover {
	filter: brightness(1.15);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 480px) {
	.nav-dropdown {
		width: auto;
	}
}

@media only screen and (min-width: 640px) {
	.nav-items,
	.nav-item {
		width: auto;
	}

	.nav-items {
		display: flex;
	}

	.nav-toggle {
		display: none;
	}

	.site-map,
	.external-resources {
		width: 50%;
	}

	.site-map {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.section {
		padding: 3.5rem 5rem;
	}

	.verse {
		text-align: center;
	}
}

@media only screen and (min-width: 1920px) {
	html {
		font-size: 18px;
	}
}

@media only screen and (min-width: 2160px) {
	html {
		font-size: 20px;
	}
}
